
@{
    ViewData["Title"] = "ویرایش کاربر ";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    var roles = ViewData["Roles"] as List<IdentityRole>;
    var editUser = ViewData["EditUser"] as ApplicationUser;
    var UserRole = (string)ViewData["UserRole"];
}

<!-- Select2 -->
<link href="~/shared/admin/assets/vendor_components/select2/dist/css/select2.min.css" rel="stylesheet" />
@model RegisterViewModel
<section class="content">
    <div class="row">
        <!-- (right) -->
        <div class="col-xl-6 col-lg-12">
            <div class="box box-bordered">
                <div class="box-header with-border">
                    <h3 class="box-title">مشخصات کاربر</h3>
                </div>
                <form asp-area="Admin" asp-controller="Account" asp-action="EditUserConfirm" method="post">
                    <div class="box-body">
                        <div class="form-group row">
                            <label for="txt3" class="col-sm-4 col-form-label">ایمیل  <span class="red-color">*</span></label>
                            <div class="col-sm-8">
                                <input asp-for="UserName" class="form-control" type="text" id="txt3" readonly="readonly" value="@editUser.UserName">
                                <span asp-validation-for="UserName"></span>
                            </div>
                        </div>
                        <input asp-for="Password " class="form-control" value="1" hidden>
                        <input asp-for="ConfirmPassword " class="form-control" value="1" hidden>
                        <hr />

                        <div class="form-group row">
                            <label for="txt1" class="col-sm-4 col-form-label">نام </label>
                            <div class="col-sm-8">
                                <input asp-for="Firstname" class="form-control" type="text" id="txt1" value="@editUser.FirstName">
                                <span asp-validation-for="Firstname"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="txt2" class="col-sm-4 col-form-label">نام خانوادگی</label>
                            <div class="col-sm-8">
                                <input asp-for="Lastname" class="form-control" type="text" id="txt2" value="@editUser.LastName">
                                <span asp-validation-for="Lastname"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="txt2" class="col-sm-4 col-form-label">شماره تلفن</label>
                            <div class="col-sm-8">
                                <input asp-for="Phonenumber" class="form-control" type="text" id="txt2" value="@editUser.PhoneNumber">
                                <span asp-validation-for="Phonenumber"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="pdpBig1" class="col-sm-4 col-form-label">تاریخ تولد </label>
                            <div class="col-sm-8 input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <input asp-for="Dateofbirth" class="form-control farsi-num" type="text" id="pdpBig1"
                                       @*value="@CustomizeCalendar.GregorianToPersianStd(editUser.DateOfBirth.Value)"*@>
                                <span asp-validation-for="Dateofbirth"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="txt2" class="col-sm-4 col-form-label"> جنسیت</label>
                            <div class="col-sm-8">
                                <div class="radio">
                                    <input asp-for="Gender" value="true" name="Gender" type="radio" id="Gender_1" checked=@(editUser.Gendre==1 ? "checked":null)>
                                    <label for="Gender_1">مرد</label>
                                </div>
                                <div class="radio">
                                    <input asp-for="Gender" value="false" name="Gender" type="radio" id="Gender_2" checked=@(editUser.Gendre!=1 ? "checked":null)>
                                    <label for="Gender_2">زن</label>
                                </div>
                            </div>
                        </div>
                        <hr />
                        <div class="form-group row">
                            <label for="txt2" class="col-sm-4 col-form-label">تایید شماره تلفن</label>
                            <div class="col-sm-8">
                                <div class="controls">
                                    <div class="checkbox">
                                        <input asp-for="PhoneConfirm" type="checkbox" id="ChkPhoneConfirm" checked=@(editUser.PhoneNumberConfirmed ? "checked":null)>
                                        <label for="ChkPhoneConfirm">تایید </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="txt2" class="col-sm-4 col-form-label">تایید ایمیل </label>
                            <div class="col-sm-8">
                                <div class="controls">
                                    <div class="checkbox">
                                        <input asp-for="EmailConfirm" type="checkbox" id="ChkEmailConfirm" checked=@(editUser.EmailConfirmed ? "checked":null)>
                                        <label for="ChkEmailConfirm">تایید </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr />
                        <div class="form-group row">
                            <label for="txt2" class="col-sm-4 col-form-label">سطح دسترسی </label>
                            <div class="col-sm-8">
                                <div class="controls">
                                    <select asp-for="RoleName" class="form-control">
                                        @foreach (var item in roles)
                                        {
                                            <option value="@item.Name" selected=@(UserRole==item.Name ? "selected":null)>@item.Name</option>
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="txt2" class="col-sm-4 col-form-label"> وضعیت</label>
                            <div class="col-sm-8">
                                <div class="radio">
                                    <input asp-for="Status" value="true" name="Status" type="radio" id="Status_1" checked=@(editUser.Status ? "checked":null)>
                                    <label for="Status_1">فعال</label>
                                </div>
                                <div class="radio">
                                    <input asp-for="Status" value="false" name="Status" type="radio" id="Status_2" checked=@(!editUser.Status ? "checked":null)>
                                    <label for="Status_2">غیر فعال</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-footer">
                        <button type="submit" class="btn btn-info pull-left">ثبت اطلاعات</button>
                        <button type="reset" class="btn btn-low-priotity pull-left margin-l-10">تازه سازی فرم</button>
                    </div>
                </form>
            </div>
        </div>
        <!--/.col (right) -->
        <!-- (left) -->
        <div class="col-xl-6 col-lg-12">
            <div class="box box-bordered">
                <div class="box-header with-border">
                    <h3 class="box-title">تصویر کاربر</h3>
                </div>
                <div class="box-body">
                    @await Html.PartialAsync("~/Areas/Admin/Views/shared/partials/_UploadFiles.cshtml")
                </div>

            </div>
        </div>
        <!--/.col (left) -->
    </div>
    <!-- /.row -->
</section>
<script src="~/shared/shared_contents/persian_datepicker/js/persianDatepicker.min.js"></script>
<script>
    $("#pdpBig1, #pdpBig2").persianDatepicker({
        cellWidth: 38,
        cellHeight: 20,
        fontSize: 13
    });
</script>



