@{
    var nvm = ViewData["nvm"] as NotificationViewModel;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title> دیباوین | @ViewBag.Title</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="http://aries-admin-templates.websitedesignmarketingagency.com/ariesadmin-rtl/images/favicon.ico">

    <!-- Bootstrap 4.0-->
    <link rel="stylesheet" href="~/shared/admin/assets/vendor_components/bootstrap/dist/css/bootstrap.css">

    <!-- Bootstrap 4.0-->
    <link rel="stylesheet" href="~/shared/admin/assets/vendor_components/bootstrap/dist/css/bootstrap-extend.css">

    <!-- file uploadr -->
    <link href="~/shared/shared_contents/dropzone-master/dist/basic.css" rel="stylesheet" />
    <link href="~/shared/shared_contents/dropzone-master/dist/dropzone.css" rel="stylesheet" />

    <!-- iCheck for checkboxes and radio inputs -->
    <link rel="stylesheet" href="~/shared/admin/assets/vendor_plugins/iCheck/all.css">

    <!-- date picker -->
    <link rel="stylesheet" href="~/shared/admin/assets/vendor_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.css">

    <!-- persian date picker -->
    <link href="~/shared/shared_contents/persian_datepicker/css/persianDatepicker-default.css" rel="stylesheet" />

    <!-- daterange picker -->
    <link rel="stylesheet" href="~/shared/admin/assets/vendor_components/bootstrap-daterangepicker/daterangepicker.css">

    <!-- bootstrap wysihtml5 - text editor -->
    <link rel="stylesheet" href="~/shared/admin/assets/vendor_plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.css">

    <!-- toast CSS -->
    <link href="~/shared/admin/assets/vendor_components/jquery-toast-plugin-master/src/jquery.toast.css" rel="stylesheet">

    <!-- Select2 -->
    <link rel="stylesheet" href="~/shared/admin/assets/vendor_components/select2/dist/css/select2.css">

    <!-- theme style -->
    <link rel="stylesheet" href="~/shared/admin/ariesadmin/css/master_style.css">

    <!-- Aries_admin skins. choose a skin from the css/skins folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="~/shared/admin/ariesadmin/css/skins/_all-skins.css">
    <!-- fonr awesome -->
    @*<link href="~/shared/shared_contents/font/fontawesome-pro-5.0.10-ulabs/fontawesome-pro-5.0.10/web-fonts-with-css/css/fontawesome-all.css" rel="stylesheet" />*@
    
    <!-- Pagination -->
    <link href="~/shared/shared_contents/simplePagination.js-master/simplePagination.css" rel="stylesheet" />

    @*<script src="https://kit.fontawesome.com/51385ea701.js" crossorigin="anonymous"></script>*@
    <link href="~/shared/admin/ariesadmin/css/customize.css" rel="stylesheet" />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        @* --------- Header & Menu --------- *@
        @await Html.PartialAsync("~/Areas/Admin/Views/shared/header/_header.cshtml")
        @await Html.PartialAsync("~/Areas/Admin/Views/shared/navigation/_aside.cshtml")

        <div class="content-wrapper">
            @* --------- Breadcrums --------- *@
            @await Html.PartialAsync("~/Areas/Admin/Views/shared/header/_breadcrums.cshtml")

            @RenderBody()
        </div>
        @* ------------- Footer ------------- *@
        @await Html.PartialAsync("~/Areas/Admin/Views/shared/footer/_footer.cshtml")

        @* --------- Setting Panel ---------- *@
        @await Html.PartialAsync("~/Areas/Admin/Views/shared/footer/_footerAside.cshtml")
        
    </div>

    <!-- jQuery 3 -->
    <script src="~/shared/admin/assets/vendor_components/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>

    <!-- jQuery UI 1.11.4 -->
    <script src="~/shared/admin/assets/vendor_components/jquery-ui/jquery-ui.js"></script>

    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>
        $.widget.bridge('uibutton', $.ui.button);
    </script>

    <!-- popper -->
    <script src="~/shared/admin/assets/vendor_components/popper/dist/popper.min.js"></script>

    <!-- Bootstrap 4.0-->
    <script src="~/shared/admin/assets/vendor_components/bootstrap/dist/js/bootstrap.js"></script>

    <!-- ChartJS -->
    <script src="~/shared/admin/assets/vendor_components/chart-js/chart.js"></script>

    <!-- Sparkline -->
    <script src="~/shared/admin/assets/vendor_components/jquery-sparkline/dist/jquery.sparkline.js"></script>

    <!-- daterangepicker -->
    <script src="~/shared/admin/assets/vendor_components/moment/min/moment.min.js"></script>
    <script src="~/shared/admin/assets/vendor_components/bootstrap-daterangepicker/daterangepicker.js"></script>

    <!-- datepicker -->
    <script src="~/shared/admin/assets/vendor_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.js"></script>

    <!-- persian date picker -->
    <script src="~/shared/shared_contents/persian_datepicker/js/persianDatepicker.min.js"></script>

    <!-- Bootstrap WYSIHTML5 -->
    <script src="~/shared/admin/assets/vendor_plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.js"></script>

    <!-- Slimscroll -->
    <script src="~/shared/admin/assets/vendor_components/jquery-slimscroll/jquery.slimscroll.js"></script>

    <!-- FastClick -->
    <script src="~/shared/admin/assets/vendor_components/fastclick/lib/fastclick.js"></script>

    <!-- peity -->
    <script src="~/shared/admin/assets/vendor_components/jquery.peity/jquery.peity.js"></script>

    <!-- Aries_admin App -->
    <script src="~/shared/admin/ariesadmin/js/template.js"></script>

    <!-- Aries_admin dashboard demo (This is only for demo purposes) -->
    <script src="~/shared/admin/ariesadmin/js/pages/dashboard.js"></script>

    <!-- Aries_admin for demo purposes -->
    <script src="~/shared/admin/ariesadmin/js/demo.js"></script>
    <!-- DataTables -->
    <script src="~/shared/admin/assets/vendor_components/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/shared/admin/assets/vendor_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>

    <!-- This is data table -->
    <script src="~/shared/admin/assets/vendor_plugins/DataTables-1.10.15/media/js/jquery.dataTables.min.js"></script>

    <!-- start - This is for export functionality only -->
    <script src="~/shared/admin/assets/vendor_plugins/DataTables-1.10.15/extensions/Buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/shared/admin/assets/vendor_plugins/DataTables-1.10.15/extensions/Buttons/js/buttons.flash.min.js"></script>
    <script src="~/shared/admin/assets/vendor_plugins/DataTables-1.10.15/ex-js/jszip.min.js"></script>
    <script src="~/shared/admin/assets/vendor_plugins/DataTables-1.10.15/ex-js/pdfmake.min.js"></script>
    <script src="~/shared/admin/assets/vendor_plugins/DataTables-1.10.15/ex-js/vfs_fonts.js"></script>
    <script src="~/shared/admin/assets/vendor_plugins/DataTables-1.10.15/extensions/Buttons/js/buttons.html5.min.js"></script>
    <script src="~/shared/admin/assets/vendor_plugins/DataTables-1.10.15/extensions/Buttons/js/buttons.print.min.js"></script>
    <!-- end - This is for export functionality only -->
    <!-- Aries_admin for Data Table -->
    <script src="~/shared/admin/ariesadmin/js/pages/data-table.js"></script>

    <!-- toast -->
    <script src="~/shared/admin/assets/vendor_components/jquery-toast-plugin-master/src/jquery.toast.js"></script>
    <script src="~/shared/admin/ariesadmin/js/pages/toastr.js"></script>

    <!-- InputMask -->
    <script src="~/shared/admin/assets/vendor_plugins/input-mask/jquery.inputmask.js"></script>
    <script src="~/shared/admin/assets/vendor_plugins/input-mask/jquery.inputmask.date.extensions.js"></script>
    <script src="~/shared/admin/assets/vendor_plugins/input-mask/jquery.inputmask.extensions.js"></script>

    <!-- file uploader -->
    <script src="~/shared/shared_contents/dropzone-master/dist/dropzone.js"></script>
    <script src="~/shared/shared_contents/dropzone-master/dist/dropzone-amd-module.js"></script>

    <!-- iCheck 1.0.1 -->
    <script src="~/shared/admin/assets/vendor_plugins/iCheck/icheck.min.js"></script>

    <!-- Select2 -->
    <script src="~/shared/admin/assets/vendor_components/select2/dist/js/select2.full.js"></script>

    <!-- Aries_admin for advanced form element -->
    <script src="~/shared/admin/ariesadmin/js/pages/advanced-form-element.js"></script>

    <script src="~/shared/shared_contents/num2persian/dist/num2persian-min.js"></script>

    <!-- Customization JS -->
    <script src="~/shared/admin/ariesadmin/js/customized.js"></script>

    <!-- Pagination -->
    <script src="~/shared/shared_contents/simplePagination.js-master/jquery.simplePagination.js"></script>

    @if (nvm != null)
    {
        <script>
                $.toast({
                    heading: '@nvm.Heading',
                    text: '@nvm.Text',
                    position: '@nvm.Position',
                    loaderBg: '#ff6849',
                    icon: '@nvm.Icon',
                    hideAfter: @nvm.HideAfter,
                    stack: 6
                });
        </script>
    }
</body>
</html>
